<div class="container">
<div class="card">
  <h2 class="card-header">Add New Friend</h2>
  <div class="card-body">
<div>
<%= render "form", friend: @friend %>
</div>

<div class="actions">
  <%= link_to "Back", friends_path, class: "btn btn-dark" %>
</div>
</div>  
</div>
</div>
